.admin-panel {
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  font-family: 'Fredoka', sans-serif;
  color: #7e209b;
}

.admin-panel h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #7e209b;
}

.admin-panel form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #e6f2ff;
  padding: 1.5rem;
  border-radius: 20px;
  margin-bottom: 2rem;
  color:black;
}

.admin-panel input,
.admin-panel select {
  padding: 0.7rem;
  border-radius: 10px;
  border: 1px solid #7e209b;
  font-size: 1rem;
  color:black;
}

.admin-panel button {
  padding: 0.7rem;
  background-color: #7e209b;
  border: none;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.admin-panel button:hover {
  background-color: #7e209b;
}

.admin-panel table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f2f9ff;
  border-radius: 15px;
  overflow: hidden;
}

.admin-panel th,
.admin-panel td {
  border: 1px solid #2d0346;
  padding: 0.75rem;
  text-align: left;
}

.admin-panel th {
  background-color: #7e209b;
  color: rgb(0, 0, 0);
}

.admin-panel td {
  background-color: #e6f2ff;
}
